/*fonts-size*/
p {
	font-family: Arial;
}

h1{
	/*font-family: Georgia;*/
	font-family: 'Oxygen', sans-serif;
}
/* font-size */
body{
font-size: 10px;
}

h1{
	font-size: 5.0em;
}
p{
	font-size: 2.0em;
}
span{
	font-size: 2.0em;
}

/* font-weight  */

p{
	/*font-weight: bold;*/  /*800 is the heaviest*/
}
/* line-height */

p{
/*	line-height: 2;*/ /*this mutiply the current height which is always determined by the font itself. Usually 
	you don't do much with line height aside from maybe one point five or two*/
	line-height: 1.5;
}

/* text-align */
h1{
	text-align: right;
}

p{
	text-align: center;
}

/* text-decoration */

p {
	text-decoration: underline;
}

h1 {
	text-decoration: line-through;
}